<mat-spinner *ngIf="loading"></mat-spinner>
<span *ngIf="!loading">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button color="primary" (click)="getEntradas()">R$ {{ saldo?.entradas | currency:'BRL':''
            }}</button>
        <button mat-stroked-button color="accent" (click)="getSaidas()">R$ {{ saldo?.saidas | currency:'BRL':''
            }}</button>
        <button mat-stroked-button disabled>R$ {{ saldo?.saldo | currency:'BRL':'' }}</button>
    </div>
    <div *ngFor="let item of items">
        <app-movimentacao-item [movimentacao]="item"></app-movimentacao-item>
    </div>
</span>