<mat-spinner *ngIf="loading"></mat-spinner>
<span *ngIf="!loading">
    <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <button mat-stroked-button color="primary" (click)="getEntradas()">R$ {{ saldo?.entradas | currency:'BRL':''
            }}</button>
        <button mat-stroked-button color="accent" (click)="getSaidas()">R$ {{ saldo?.saidas | currency:'BRL':''
            }}</button>
        <button mat-stroked-button (click)="getAll()">R$ {{ saldo?.saldo | currency:'BRL':'' }}</button>
    </div>
    <div *ngFor="let item of items">
        <app-movimentacao-item [movimentacao]="item"></app-movimentacao-item>
    </div>
</span>